<!-- page content -->
<div class="right_col" role="main" style="min-height: 639px;">
  <div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Hồ sơ cá nhân
            </h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <span class="section">Thông tin</span>
            {{#if hasErrorMessage}} {{#each messageValidate}}
            <div class="alert alert-danger">{{ this }}</div>
            {{/each}} {{/if}}

            <div class="col-md-4 col-sm-4 col-xs-12 float-right">
              <form method="post" {{#if isUser }} action="/user/change-avatar" {{else}} action="/admin/change-avatar" {{/if}}>
                <div class="item form-group">
                  <label class="control-label col-md-12 col-sm-12 col-xs-12" style="text-align: left; padding-bottom: 6px">Ảnh đại diện
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="profile_img">
                      <div id="crop-avatar">
                        <!-- Current avatar -->
                        <img title="Change the avatar" class="img-responsive avatar-view" alt="Avatar" src="{{user.avatarPath}}">
                      </div>
                    </div>

                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="avatar-upload">
                      <input type="file" name="file" id="file" class="inputfile" />
                      <label class="btn btn-default" for="file">Đổi ảnh đại diện</label>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <div class="col-md-8 col-sm-8 col-xs-12 float-right">
              <form action="" method="POST" class="form-horizontal form-label-left" novalidate="">
                <div class="item form-group">
                  <label class="control-label col-md-2 col-sm-3 col-xs-12" for="name">Họ tên
                    <span class="required">*</span>
                  </label>
                  <div class="col-md-7 col-sm-6 col-xs-12">
                    <input name="name" class="form-control col-md-7 col-xs-12" id="name" required="required" type="text" value="{{ user.name }}">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-2 col-sm-3 col-xs-12" for="email">Email
                    <span class="required">*</span>
                  </label>
                  <div class="col-md-7 col-sm-6 col-xs-12">
                    <input name="email" class="form-control col-md-7 col-xs-12" id="email" required="required" type="email" value="{{ user.email }}">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-2 col-sm-3 col-xs-12" for="gender">Giới tính
                    <span class="required">*</span>
                  </label>
                  <div class="col-md-7 col-sm-6 col-xs-12">
                    <div class="btn-group" id="gender" data-toggle="buttons" value="{{ user.gender }}">
                      <label class="btn btn-default" style="margin-bottom: 0px;" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                        <input name="gender" type="radio" value="male" data-parsley-multiple="gender"> &nbsp; Nam &nbsp;
                      </label>
                      <label class="btn btn-primary" style="margin-bottom: 0px;" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                        <input name="gender" type="radio" value="female" data-parsley-multiple="gender"> &nbsp; Nữ &nbsp;
                      </label>
                    </div>
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-2 col-sm-3 col-xs-12">Ngày sinh
                    <span class="required">*</span>
                  </label>
                  <div class="col-md-7 col-sm-6 col-xs-12">
                    <input name="birthday" class="form-control col-md-7 col-xs-12" id="birthday" required="required" type="date" value="{{user.birthDate}}">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-2 col-sm-3 col-xs-12" for="textarea">Địa chỉ
                    <span class="required">*</span>
                  </label>
                  <div class="col-md-7 col-sm-6 col-xs-12">
                    <textarea name="address" class="form-control col-md-7 col-sm-6 col-xs-12" id="address" required="required">{{ user.address }}</textarea>
                  </div>
                </div>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <div class="form-group">
                  <div class="col-md-7 col-md-offset-3">
                    <button class="btn btn-success" id="send" type="submit"> Thay đổi </button>
                    <button type="reset" class="btn btn-primary"> Làm lại </button>
                  </div>
                </div>
              </form>
            </div>

            <div class="col-md-12 ln_solid"></div>
          </div>


          <div class="x_content">
            {{#if isUser}}
            <form action="/user/change-password" method="POST" class="form-horizontal form-label-left" novalidate="">
              {{else}}
              <form action="/admin/change-password" method="POST" class="form-horizontal form-label-left" novalidate="">
                {{/if}}
                <span class="section">Đổi mật khẩu</span>
                {{#if hasMessageConfig}} {{#each messageErrorConfig}}
                <div class="alert alert-danger col-md-6 col-sm-3 col-xs-12" role="alert">
                  {{ this }}
                </div>
                {{/each}} {{/if}}
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="oldPassword">Mật khẩu cũ
                    <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input name="oldPassword" class="form-control col-md-7 col-xs-12" id="oldPassword" required="required" type="password">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="newPassword">Mật khẩu mới
                    <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input name="newPassword" class="form-control col-md-7 col-xs-12" id="newPassword" required="required" type="password">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Nhập lại mật khẩu mới
                    <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input name="confPassword" class="date-picker form-control col-md-7 col-xs-12" id="confPassword" required="required" type="password">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6 col-md-offset-3">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    <button class="btn btn-success" id="send" type="submit">Đổi mật khẩu </button>
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->