<div id="shopify-section-header" class="shopify-section">
    <header id="page_header">
        <div class="top_wrapper container">
            {{#if isLogin }}
            <div class="account_wrap">
                <a href="/user/profile"> Tài khoản </a>
                <a href="/logout"> Đăng xuất</a>
            </div>
            <div class="wishlist_wrap">
                <a href="/pages/wishlist"> Yêu thích </a>
            </div>
            {{ else }}
            <div class="account_wrap">
                <a href="/login"> Đăng nhập </a>
                <a href="/register"> Đăng ký </a>
            </div>
            {{/if}}

            <script>
                theme.shopCurrency = "USD";
                theme.moneyFormat = "${{amount}}";
                theme.moneyFormatCurrency = "${{amount}} USD";
            </script>
            <script src="//cdn.shopify.com/s/javascripts/currencies.js" defer=""></script>
            <script src="//cdn.shopify.com/s/files/1/2323/3807/t/2/assets/currency-tools.js?111211030896101798" defer=""></script>
        </div>
        <div class="page_container">
            <div class="header_wrap1 container">
                <div class="header_wrap2 header_left">
                    <a class="header_logo" href="/">
                        <img src="//cdn.shopify.com/s/files/1/2323/3807/files/logo_03_240x21_crop_center.png?v=1505898426" alt="Bookstore">
                    </a>
                </div>
            </div>
            <div id="pseudo_sticky_block" style="height: 48px;"></div>
            <div id="sticky_header" class="header_wrap3 megamenu_stuck">
                <div class="container">
                    <nav id="megamenu" class="megamenu megamenu_desktop">
                        <h2 id="megamenu_mobile_toggle">
                            <i class="fa fa-bars" aria-hidden="true"></i>Menu</h2>
                        <div id="megamenu_mobile_close" class="" style="">
                            <div class="close_icon"></div>
                        </div>
                        <ul id="megamenu_level__1" class="level_1 sf-js-enabled sf-arrows">
                            <li class="level_1__item ">
                                <a class="level_1__link active" href="/">Trang chủ
                                </a>
                            </li>
                            <li class="level_1__item level_2__links">
                                <a class="level_1__link sf-with-ul" href="/book">Sản phẩm
                                    <i class="level_1__trigger megamenu_trigger" data-submenu="menu_1505916634232"></i>
                                </a>
                                <ul class="level_2" id="menu_1505916634232">
                                    <li class="container">
                                        {{#each GenreChucks}}
                                        <div class="megamenu_col__item">
                                            <h3>Collections #1
                                                <i class="level_2__trigger megamenu_trigger" data-submenu="menu_1505916634232-1"></i>
                                            </h3>

                                            <ul class="level_3" id="menu_1505916634232-1">
                                                {{#each this}}
                                                <li class="level_3__item">
                                                    <a class="level_3__link" href={{url}}>{{name}}</a>
                                                </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                        {{/each}}
                                    </li>
                                </ul>
                            </li>
                            <li class="level_1__item">
                                <a class="level_1__link" href="/about-us">Về chúng tôi</a>
                            </li>

                        </ul>
                    </nav>
                    <div>
                        <div class="header_search">
                            <span class="header_search_trigger">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </span>

                            <div class="header_search_form">
                                <form action="/search" method="get" role="search" class="search_form">
                                    <input type="search" name="q" placeholder="Search store" aria-label="Search store">

                                    <button type="submit">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="cart_wrap">
                            <a href="/cart" title="Giỏ hàng">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                {{#if session.cart }}
                                <span id="cart_items">{{ session.cart.totalQty }}</span>
                                {{else }}
                                <span id="cart_items">0</span>
                                {{/if}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>