<div class="product-listing">
    <div class="product-box no-mg">
        <div class="product-box-list">

            {{# each listBooks}}
            <div class="product-item">
                <a href={{url}}>
                    <span class="image">
                        <img class="product-image img-responsive" src={{imageCover}} alt="">
                        <span class="product-right-icon">
                            <i class="tikicon icon-2h"></i>
                        </span>
                    </span>
                    <span class="title">{{title}}</span>
                    <p class="author">{{author.name}}</p>
                    <p class="price-sale">
                        <span class="final-price">{{price}}</span>
                    </p>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</div>