<div class="container product-container">
    <meta itemprop="url" content="https://tiki.vn/minh-noi-gi-khi-noi-ve-hanh-phuc-p1627925.html">


    <div class="row product-summary" itemscope="" itemtype="http://schema.org/Product">
        <div class="product-image">
            <div class="image-box js-image-box">
                <div class="magiczoom book ">
                    <a class="js-book-review-show" href="javascript:void(0);">
                        <img id="product-magiczoom" class="product-magiczoom" itemprop="image" src={{BookDetail.imageCover}}>
                    </a>
                    <div class="txt-desc-for-img">
                    </div>
                </div>
                <div class="image-thumbnail-block" id="image-thumbnail-block">
                    <div data-reactroot="">
                        <div class="product-reivew-images"></div>
                    </div>
                </div>

            </div>
            <div class="native-banner text-center">
                <div class="banner-tooltip">
                    <div class="banner-tooltip-text">
                        Tài trợ (?)
                        <div class="banner-tooltip-content">
                            Quảng cáo từ các nhà cung cấp sản phẩm trên Tiki
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="product-cart">
            <div class="item-box">
                <h1 class="item-name" itemprop="name" id="product-name">
                    {{BookDetail.title}} </h1>
                <input id="product_id_add_cart" name="id" value={{BookDetail.id}} type="hidden">
                <input id="product_price" name="price" value={{BookDetail.price}} type="hidden">
                <input id="productset_name" name="category" value={{BookDetail.genre}} type="hidden">

                <div class="product-brand-block">

                    <div class="item-row1 brand-block">
                        <div class="item-price">
                            <div class="brand-block-row">
                                <div class="item-brand">
                                    <h6>Tác giả: </h6>
                                    <p>
                                        <a target="_blank" href={{BookDetail.author.url}}>{{BookDetail.author.name}}</a>
                                    </p>
                                </div>

                                <div class="item-brand">
                                    <h6>Nhà xuất bản</h6>
                                    <p>
                                        <a target="_blank" href={{BookDetail.publisher.url}}>{{BookDetail.publisher.name}}&nbsp;&nbsp;{{BookDetail.publishYear}}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row flex">
                    <div class="col-xs-7 no-padding-right product-info-block">
                        <div class="item-row1">
                            <div class="item-price">
                                <p class="g-preorder" id="inventory-status-text" style="display: none"></p>
                                <div class="price-block show-border">
                                    <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                        <meta itemprop="priceCurrency" content="VND">
                                        <meta itemprop="price" content="45000">
                                        <link itemprop="availability" href="http://schema.org/InStock">
                                    </div>
                                    <p class="special-price-item" data-value="45000" id="p-specialprice">
                                        <span id="flash-sale-price-label" style="display: none;" class="">
                                            <img class="icon-flash-sale" src="https://vcdn.tikicdn.com/desktop/img/flash-sale-price-label.png?v=2" width="80">
                                            <img class="icon-hot-deal" src="https://vcdn.tikicdn.com/desktop/img/deal-hot@2x.png" width="91">Giá: </span>
                                        <span id="span-price">{{BookDetail.price}} &nbsp;₫</span>
                                        <span class="vat">Đã có VAT</span>
                                    </p>
                                </div>

                            </div>
                        </div>


                        <p class="out-of-stock-msg" style="color: red;display: none;">Sản phẩm đã hết hàng</p>

                        <p class="discontinued-msg" style="color: red;display: none;">Ngừng kinh doanh</p>

                        <form role="form" id="add-to-cart" action="/checkout/ajaxAdd">
                            <!-- Only for js checking baby milk product -->
                            <input name="product_type" value="configurable" type="hidden">
                            <div class="item-product-options">
                             <!-- BEGIN ADD TO CART -->
                                <div id="add-cart-action">
                                    <div class="add-cart-action" style="display: block">
                                        <div class="quantity-box">
                                            <div id="deal-max" style="display: none;" class="alert alert-warning alert-small deal-max">
                                                Sản phẩm này có giới hạn số lượng khi đặt hàng:
                                                <br> Bạn có thể mua tối đa
                                                <span></span> sản phẩm cho mỗi đơn hàng
                                            </div>
                                            <input id="product_id_for_wishlist" name="id" value="1627925" type="hidden">

                                            <div class="quantity-col1">
                                                <p class="quantity-label">Số lượng:</p>
                                                <p class="tiki-number-input">
                                                    <div class="input-group bootstrap-touchspin">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default bootstrap-touchspin-down" type="button">-</button>
                                                        </span>
                                                        <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                                                        <input id="qty" name="qty" value="1" min="1" max="100" class="form-control"
                                                            style="display: block;" type="tel">
                                                        <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span>
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default bootstrap-touchspin-up" type="button">+</button>
                                                        </span>
                                                    </div>
                                                </p>
                                            </div>
                                            <div class="cta-box">


                                                <button class="add-to-cart  js-add-to-cart is-css" type="button">
                                                    <span class="text">
                                                        CHỌN MUA </span>
                                                </button>

                                                <a href="javascript:" class="add-to-wishlist is-css">
                                                    <span class="icon js-product-gift-icon" data-placement="bottom" data-toggle="tooltip" data-title="Thêm Vào Yêu Thích" data-original-title=""
                                                        title="">
                                                        <i class="ico ico-ic-fav"></i>
                                                    </span>
                                                </a>
                                            </div>
                                            <a href="javascript:void(0)" class="evoucher__submit">Tiến Hành Thanh Toán</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- END ADD TO CART -->

                                <div class="installment-without-card" style="display: none;">
                                </div>
                            </div>
                        </form>

                        <!--bbbb-->
                    </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="product-content-box">
                <div class="left">


                    <h3 class="product-table-title">Thông Tin Chi Tiết</h3>
                    <div class="white-panel">
                        <div class="attribute-table single-table"></div>
                        <table id="chi-tiet" class="table table-bordered table-detail table-striped" cellspacing="0">
                            <colgroup>
                                <col style="width: 25%;">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td rel="manufacturer_book_vn">Nhà xuất bản</td>
                                    <td class="last">
                                        {{BookDetail.publisher.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td rel="author">Tác giả</td>
                                    <td class="last">
                                        {{BookDetail.author.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td rel="number_of_page">Số trang</td>
                                    <td class="last">
                                        196
                                    </td>
                                </tr>
                                <tr>
                                    <td rel="publication_date">Ngày xuất bản</td>
                                    <td class="last">
                                        {{BookDetail.publishDate}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="right">
                </div>
            </div>
        </div>
    </div>
</div>