<div class="main_content ">
    <div id="shopify-section-template-product" class="shopify-section section section_single-product section_product section_template__product">
        <script type="application/json" id="product_json_template-product">
	{"id":12302463499,"title":"The Complete Sherlock Holmes","handle":"the-complete-sherlock-holmes","description":"\u003ch3\u003eOur business is very noble and it has many traditions\u003c\/h3\u003e\n\u003cp\u003eJust remember that special atmosphere of solitude in the library or in the old book-store, it seemed that imponderable scent of rational identity is in the air... The unique smell of old and new pages, soft cover and so on. Yeah, they are worth our admiring. But those times are long gone and we live in 21st century, and the most revolutionary thing that had happened is that books have lost their natural view. Books became more available.\u003c\/p\u003e\n\u003cp\u003e\u003cstrong\u003e\u003c\/strong\u003eThe diversity of our products is unbelievable because we have a vast book collection - \u003cstrong\u003eall genres and styles\u003c\/strong\u003e!\u003c\/p\u003e\n\u003cul\u003e\n\u003cli\u003e\u003cspan\u003eOur company guarantees the quality of our goods because we care about our clients.\u003c\/span\u003e\u003c\/li\u003e\n\u003cli\u003e\u003cspan\u003eIf you have some questions about our products, terms and other features, you can address our superb 24\/7 support system.\u003c\/span\u003e\u003c\/li\u003e\n\u003c\/ul\u003e\n\u003cp\u003eBooks became more available. On-line book stores can \u003ca target=\"_blank\" href=\"https:\/\/www.youtube.com\/watch?v=SKVcQnyEIT8\"\u003eoffer you a great assortment of books\u003c\/a\u003e. Can you imagine a world of knowledge without limits? You can get everything you want and all you have to do is just visit our store. We have tremendous variety of products; here you can find the world famous bestsellers and the books of unknown authors. Actually we do understand that our activity is very important for many of you and we will never let you down.\u003c\/p\u003e\n\u003cp\u003eJust remember that special atmosphere of solitude in the library or in the old book-store, it seemed that imponderable scent of rational identity is in the air...\u003c\/p\u003e","published_at":"2017-09-01T03:16:49-04:00","created_at":"2017-09-01T03:16:58-04:00","vendor":"Bookstore","type":"School Books","tags":[],"price":8000,"price_min":8000,"price_max":8500,"available":true,"price_varies":true,"compare_at_price":9000,"compare_at_price_min":9000,"compare_at_price_max":9000,"compare_at_price_varies":false,"variants":[{"id":50971221451,"title":"L","option1":"L","option2":null,"option3":null,"sku":"327AE-6","requires_shipping":false,"taxable":true,"featured_image":null,"available":true,"name":"The Complete Sherlock Holmes - L","public_title":"L","options":["L"],"price":8000,"weight":700,"compare_at_price":null,"inventory_quantity":98,"inventory_management":null,"inventory_policy":"deny","barcode":"327038522"},{"id":50971221515,"title":"XL","option1":"XL","option2":null,"option3":null,"sku":"556-62225","requires_shipping":true,"taxable":true,"featured_image":{"id":30787203339,"product_id":12302463499,"position":2,"created_at":"2017-09-01T03:16:58-04:00","updated_at":"2017-09-01T03:16:58-04:00","alt":null,"width":1000,"height":1000,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/2323\/3807\/products\/the_complete_sherlock_holmes_2.png?v=1504250218","variant_ids":[50971221515]},"available":true,"name":"The Complete Sherlock Holmes - XL","public_title":"XL","options":["XL"],"price":8500,"weight":1500,"compare_at_price":9000,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","barcode":"48245687465"},{"id":50971221579,"title":"XXL","option1":"XXL","option2":null,"option3":null,"sku":"64554","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"The Complete Sherlock Holmes - XXL","public_title":"XXL","options":["XXL"],"price":8200,"weight":300,"compare_at_price":null,"inventory_quantity":50,"inventory_management":"shopify","inventory_policy":"deny","barcode":"2353565467"}],"images":["\/\/cdn.shopify.com\/s\/files\/1\/2323\/3807\/products\/the_complete_sherlock_holmes_1.png?v=1504250218","\/\/cdn.shopify.com\/s\/files\/1\/2323\/3807\/products\/the_complete_sherlock_holmes_2.png?v=1504250218","\/\/cdn.shopify.com\/s\/files\/1\/2323\/3807\/products\/the_complete_sherlock_holmes_3.png?v=1504250218","\/\/cdn.shopify.com\/s\/files\/1\/2323\/3807\/products\/the_complete_sherlock_holmes_4.png?v=1504250218","\/\/cdn.shopify.com\/s\/files\/1\/2323\/3807\/products\/the_complete_sherlock_holmes_5.png?v=1504250218"],"featured_image":"\/\/cdn.shopify.com\/s\/files\/1\/2323\/3807\/products\/the_complete_sherlock_holmes_1.png?v=1504250218","options":["Size"],"content":"\u003ch3\u003eOur business is very noble and it has many traditions\u003c\/h3\u003e\n\u003cp\u003eJust remember that special atmosphere of solitude in the library or in the old book-store, it seemed that imponderable scent of rational identity is in the air... The unique smell of old and new pages, soft cover and so on. Yeah, they are worth our admiring. But those times are long gone and we live in 21st century, and the most revolutionary thing that had happened is that books have lost their natural view. Books became more available.\u003c\/p\u003e\n\u003cp\u003e\u003cstrong\u003e\u003c\/strong\u003eThe diversity of our products is unbelievable because we have a vast book collection - \u003cstrong\u003eall genres and styles\u003c\/strong\u003e!\u003c\/p\u003e\n\u003cul\u003e\n\u003cli\u003e\u003cspan\u003eOur company guarantees the quality of our goods because we care about our clients.\u003c\/span\u003e\u003c\/li\u003e\n\u003cli\u003e\u003cspan\u003eIf you have some questions about our products, terms and other features, you can address our superb 24\/7 support system.\u003c\/span\u003e\u003c\/li\u003e\n\u003c\/ul\u003e\n\u003cp\u003eBooks became more available. On-line book stores can \u003ca target=\"_blank\" href=\"https:\/\/www.youtube.com\/watch?v=SKVcQnyEIT8\"\u003eoffer you a great assortment of books\u003c\/a\u003e. Can you imagine a world of knowledge without limits? You can get everything you want and all you have to do is just visit our store. We have tremendous variety of products; here you can find the world famous bestsellers and the books of unknown authors. Actually we do understand that our activity is very important for many of you and we will never let you down.\u003c\/p\u003e\n\u003cp\u003eJust remember that special atmosphere of solitude in the library or in the old book-store, it seemed that imponderable scent of rational identity is in the air...\u003c\/p\u003e"}
</script>
        <script type="application/json" id="variant_weights_template-product">
	{"50971221451":"0.7 kg","50971221515":"1.5 kg","50971221579":"0.3 kg"}
</script>
        <div class="container">
            <div class="row">
                <div class="single_product__img col-xs-6">
                    <div id="gallery_big-template-product" class="gallery_big swiper-container swiper-container-horizontal">
                        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                            {{!-- {{#each bookDetail.imageCover}} --}}
                            <div class="swiper-slide swiper-slide-next" style="width: 470px;">
                                <img src={{ bookDetail.imageCover.[0] }} alt="">
                            </div>
                            {{!-- {{/each}} --}}
                        </div>
                        <div id="prev_template-product" class="swiper_btn swiper_btn__prev swiper-button-disabled"></div>
                        <div id="next_template-product" class="swiper_btn swiper_btn__next"></div>
                    </div>
                    <div id="gallery_thumbs-template-product" class="gallery_thumbs gallery_thumbs__medium swiper-container swiper-container-horizontal">
                        <div class="swiper-wrapper" style="transform: translate3d(196px, 0px, 0px); transition-duration: 0ms;">
                            {{#each bookDetail.imageCover}}
                            <div class="swiper-slide swiper-slide-active" style="width: 78px; margin-right: 20px;">
                                <img src={{ this }} alt="">
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="single_product__info col-xs-6 medium">
                    {{#with bookDetail}}
                    <h2 class="single_product__title">{{ book.title }}</h2>
                    <div class="single_product__details">
                        <form action="/cart/add-to-cart" method="post" data-section="template-product">
                            <div class="details_separator"></div>
                            <div class="details_wrapper">
                                <div class="details_left">
                                    <p class="single_product__author">
                                        <b>Tác giả:</b>
                                        <span id="single_product__author-template-product">{{ book.author.name }}</span>
                                    </p>
                                    <p class="single_product__collections">
                                        <b>Thể loại:</b>
                                        <a href="{{ book.genre.url }}">{{ book.genre.name }}</a>,
                                    </p>
                                    <p class="single_product__size">
                                        <b>Kích thước:</b>
                                        <span>{{ size.[0] }} x {{ size.[1] }} cm </span>
                                    </p>
                                    <p class="single_product__type">
                                        <b>Kiểu bìa:</b>
                                        <span> {{ coverType }} </span>
                                    </p>
                                    <p class="single_product__vendor">
                                        <b>Nhà xuất bản:</b>
                                        <span>{{ book.publisher.name }}</span>
                                    </p>
                                    <p class="single_product__date">
                                        <b>Ngày xuất bản:</b>
                                        <span formatdate>{{ book.publishDate }}</span>
                                    </p>
                                </div>
                                <div class="details_right">
                                    <p class="single_product__availability">
                                        <b>Tình trạng:</b>
                                        <span id="single_product__availability-template-product" class="notify_success">{{ status }}</span>
                                    </p>
                                    <p class="single_product__price">
                                        <span id="single_product__price-template-product">
                                            <span class="money" data-currency-usd="${{ currentPrice }}" data-currency="USD">{{ currentPrice }}</span>
                                        </span>
                                    </p>
                                    <div class="single_product__quantity">
                                        <label for="single_product__quantity-template-product">Số lượng: </label>
                                        <div class="quantity_box">
                                            <input id="single_product__quantity-template-product" class="quantity_input" type="text" name="quantity" value="1">
                                            <span class="quantity_down">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </span>
                                            <span class="quantity_up">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </span>
                                            <input type="hidden" name="_csrf" value="{{ ../csrfToken }}">
                                            <input type="hidden" name="product_id" value="{{  id }}">
                                            <button type="submit" name="add" class="btn" id="single_product__addtocart-template-product">Thêm vào giỏ hàng</button>
                                        </div>
                                    </div>
                                    <p class="wishlist_section">
                                        <a href="/pages/wishlist" class="wishlist_form">
                                            <i class="fa fa-heart" aria-hidden="true"></i> Thêm vào yêu thích </a>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {{/with}}
            </div>
            <form accept-charset="UTF-8" action="/contact" id="wishlist_form" method="post">
                <input name="form_type" type="hidden" value="customer">
                <input name="utf8" type="hidden" value="✓">
                <input type="hidden" name="contact[email]" value="">
                <input id="update-me" type="hidden" name="contact[tags]" value="">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            </form>
            <div class="product_description rte">
                <div>
                    <h3>Mô tả</h3>
                    <p>{{ bookDetail.book.description }}</p>
                </div>
            </div>
            <div class="article_comments__list">
                <h3>2 comments</h3>
                <div>
                    <ul>
                        <li>
                            <div class="comment_author">Author1
                                <div class="comment_date">Date1</div>
                            </div>
                            <div class="comment_content">Content1</div>
                        </li>
                        <li>
                            <div class="comment_author">Author2
                                <div class="comment_date">Date2</div>
                            </div>
                            <div class="comment_content">Content2</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="article_comments__form">
                <form method="post" action="/blogs/blog/textbooks/comments#comment_form" id="comment_form" accept-charset="UTF-8" class="comment-form">
                    <input type="hidden" name="form_type" value="new_comment">
                    <input type="hidden" name="utf8" value="✓">
                    <h3>Leave a comment</h3>
                    <div class="row">
                        <div class="col-sm-4 col-lg-3 form-group">
                            <label for="comment_author">Name</label>
                            <input id="comment_author" class="form-control" type="text" name="comment[author]" value="">
                        </div>
                        <div class="col-sm-4 col-lg-3 form-group">
                            <label for="comment_email">Email</label>
                            <input id="comment_email" class="form-control" type="email" name="comment[email]" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="comment-body">Message</label>
                        <textarea class="form-control" name="comment[body]" id="comment-body"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn">Post comment</button>
                    </div>
                </form>
            </div>
        </div>

        <script>
            var producText = {
                available: "Available",
                unavailable: "Unavailable",
                items: "items",
            };
            var productImage = true;
        </script>
    </div>
</div>