<div class="main_content ">
    <div class="template_cart">
        <div class="container">
            <h1 class="page_heading">{{ title }}</h1>

            {{#if cartDetail }}
            <form action="/payment" method="post" novalidate="" class="cart">
                <table class="table table-bordered cart_items">
                    <thead>
                        <tr>
                            <th class="column_product" colspan="2">Sản phẩm</th>
                            <th class="column_price">Giá</th>
                            <th class="column_quantity">Số lượng</th>
                            <th class="column_total">Tổng</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each cartDetail}}
                        <tr>
                            <td class="column_product_img">
                                <a href="/book/{{id}}">
                                    <img class="cart__image" src={{ item.imageCover.[0]}} alt={{ item.book.title }}>
                                </a>
                            </td>
                            <td class="column_product_info ">
                                <p class="cart_item__name product_name ">
                                    <a href="/book/{{id}}">Tên sách{{tittle}}</a>
                                </p>
                                <div class="cart_item__details ">
                                    <p class="item_type">
                                        <b>Thể loại:</b>Thể loại {{ item.book.genre.name }}</p>
                                    <p class="item_vendor">
                                        <b>Tác giả:</b> Tên tác giả {{ item.book.author.name }}</p>
                                    <p class="item_weight">
                                        <b>Nhà xuất bản:</b> Nhà xuất bản {{ item.book.publisher.name }}</p>
                                    <p class="item_cover_type">
                                        <b>Loại bìa:</b> {{ item.coverType }}</p>
                                </div>
                                <a class="btn cart_item__remove " href="/cart/change?line=2&amp;quantity=0 ">Remove</a>
                            </td>
                            <td class="column_price ">
                                <span class="money " data-currency-usd="$50.00 ">{{ item.currentPrice }}</span>
                            </td>
                            <td class="column_quantity ">
                                <div class="quantity_box ">
                                    <input id="updates_{{ id }}" name="updates[]" value="{{ qty }}"
                                        class="quantity_input" type="text ">
                                    <span class="quantity_down">
                                        <i class="fa fa-minus " aria-hidden="true "></i>
                                    </span>
                                    <span class="quantity_up ">
                                        <i class="fa fa-plus " aria-hidden="true "></i>
                                    </span>
                                    <button type="submit " name="update " class="btn ">Cập nhật</button>
                                </div>
                            </td>
                            <td class="column_total ">
                                <span class="money " data-currency-usd="${{ price }} ">{{ price }}</span>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5 ">
                                <p class="cart_total ">Tổng giá tiền
                                    <span class="money " data-currency-usd="$290.00">{{ session.cart.totalPrice }}</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <a class="btn" href="/book">Tiếp tục mua hàng</a>
                                <button type="submit " name="checkout " class="btn btn_alt ">Tiến hành thanh toán</button>
                                <div class="clearfix "></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            </form>
            {{else}}
            <p>Bạn chưa thêm sản phẩm nào vào giỏ hàng</p>
            {{/if}}
        </div>
    </div>
</div>