<div class="container">
	<div class="row">
		<div class="main_content sidebar_on col-sm-9 col-sm-push-3">
			<div id="shopify-section-template-collection" class="shopify-section section_template section_template__collection">

				<div class="product_options">
					<ul class="product_view">
						<li id="view_grid" data-view="grid" class="active">
							<i class="fa fa-th" aria-hidden="true"></i>
						</li>
						<li id="view_list" data-view="list">
							<i class="fa fa-th-list" aria-hidden="true"></i>
						</li>
					</ul>
					<div class="product_options__sort">
						<label for="sort_by_select">Sort products:</label>
						<select id="sort_by_select">
							<option value="manual">Featured</option>
							<option value="best-selling">Best Selling</option>
							<option value="title-ascending">Name: A – Z</option>
							<option value="title-descending">Name: Z – A</option>
							<option value="price-ascending">Price: low to high</option>
							<option value="price-descending">Price: high to low</option>
							<option value="created-ascending">Oldest to newest</option>
							<option value="created-descending">Newest to oldest</option>
						</select>
					</div>
					<div class="product_options__number">
						<label for="products_number_select">Show:</label>
						<select id="products_number_select">
							<option value="3">3</option>
							<option value="6">6</option>
							<option value="9">9</option>
							<option value="12">12</option>
						</select>
					</div>
					<div class="clearfix"></div>
				</div>
				<script>
					// theme.paginationCurrent = 1
					theme.productNumber = 6;
				</script>
				<div class="row product_listing__main" id="product_listing__sorted">
					<div class="col-sm-4 item_3_1 item_2_1">
						<div class="product_item">
							<div class="product_img">
								<a class="img_change" href="/collections/belles-lettres/products/the-adventure-collection">
									<img class="img__1" src="//cdn.shopify.com/s/files/1/2323/3807/products/the_adventure_collection_1_270x270_crop_center.png?v=1504250201"
									 alt="The Adventure Collection" style="opacity: 1;">
									<img class="img__2" src="//cdn.shopify.com/s/files/1/2323/3807/products/the_adventure_collection_2_270x270_crop_center.png?v=1504250201"
									 alt="The Adventure Collection" style="opacity: 0;">
									<span class="product_badge new">New!</span>
									<span class="product_badge sale">–23%</span>
								</a>
								<a class="quick_view_btn" href="/products/the-adventure-collection" title="Quick view">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
							<div class="product_info">
								<p class="product_name">
									<a href="/collections/belles-lettres/products/the-adventure-collection">The Adventure Collection</a>
								</p>
								<p class="product_desc product_desc__short">Well, reading books as a hobby was always a noble, pleasant and very useful kind of activity. It gives know...</p>
								<p class="product_desc product_desc__long">Well, reading books as a hobby was always a noble, pleasant and very useful kind of activity. It gives knowledge,
									exerts on the process of development of your personality. For a long period of time books were very rare and because
									of such confines only some “esoteric” people could afford them. And you know what? Books always have some notes
									of mysticism. Just remember that special atmosphere of solitude in the library or in the old book-store, it seemed
									that imponderable scent of rational ide...</p>
								<p class="product_price">
									<span class="money" data-currency-usd="$20.00">$20.00</span>
									<span class="money_like">–</span>
									<span class="money" data-currency-usd="$24.00">$24.00</span>
									<span class="money_variants">(4 variants)</span>
								</p>
								<div class="product_links">
									<form method="post" action="/cart/add">
										<a class="btn btn_options" href="/products/the-adventure-collection">Choose variant</a>
									</form>
									<a class="btn wishlist_add_login" href="/pages/wishlist" title="Add to the wishlist">
										<i class="fa fa-heart-o" aria-hidden="true"></i>
									</a>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					{{# each listBooks}}
					<div class="col-xs-3 item_4_1 item_2_1">
						<div class="product_item">
							<div class="product_img">
								<a class="img_change" href={{url}}>
									<img class="img__1" src={{imageCover}} alt={{title}}>
									<img class="img__2" src={{imageCover}} alt={{title}}>
									<span class="product_badge new">New!</span>
								</a>
								<a class="quick_view_btn" href={{url}} title="Quick view">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
							<div class="product_info">
								<p class="product_name">
									<a href={{url}}>{{title}}</a>
								</p>
								<p class="product_desc product_desc__short">It is a great pleasure to give people the knowledge and the power of the intelligence Our business is very ...</p>
								<p class="product_desc product_desc__long">It is a great pleasure to give people the knowledge and the power of the intelligence Our business is very noble
									and it has many traditions. That is why we have such a great number of devoted clients all over the country. It
									is a great pleasure to give people the knowledge and the power of the intelligence. We all must remember that our
									forefathers didn’t have such unlimited abilities as we have. The diversity of our products is unbelievable because
									we have a vast book collection - all genres...
								</p>
								<p class="product_price">
									<span class="money" data-currency-usd="{{price}}">$price</span>
								</p>
								<div class="product_links">
									<form method="post" action="/cart/add">
										<input type="hidden" name="id" value="50971280395">
										<button class="btn btn-cart" type="submit">Add to cart</button>
									</form>
									<a class="btn wishlist_add_login" href="/pages/wishlist" title="Add to the wishlist">
										<i class="fa fa-heart-o" aria-hidden="true"></i>
									</a>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					{{/each}}
				</div>
				<div class="pagination">
					<p>1 – 6 product(s) of 10</p>
					<ul>
						<li class="pagination_prev">
							<span>
								<i class="fa fa-angle-left" aria-hidden="true"></i>Previous</span>
						</li>
						<li class="pagination_current">
							<span>1</span>
						</li>
						<li>
							<a href="/collections/belles-lettres?page=2">2</a>
						</li>
						<li class="pagination_next">
							<a href="/collections/belles-lettres?page=2">Next
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-3 col-sm-pull-9">
			<div id="shopify-section-sidebar" class="shopify-section page_sidebar">
				<div class="sidebar">
					<div class="sidebar_widget sidebar_widget__collections">
						<h3 class="widget_header">Collections</h3>
						<div class="widget_content">
							<ul class="list_links">
								<li>
									<a class="active" href="/collections/belles-lettres">Belles-lettres</a>
								</li>
								{{# each listGenres}}
								<li>
									<a class="active" href={{url}}>{{name}}</a>
								</li>
								{{/each}}
							</ul>
						</div>
					</div>
					<div class="sidebar_widget sidebar_widget__types">
						<h3 class="widget_header">Product types</h3>
						<div class="widget_content">
							<ul class="list_links">
								<li>
									<a href="/collections/types?q=New%20Arrivals">New Arrivals</a>
								</li>
								<li>
									<a href="/collections/types?q=School%20Books">School Books</a>
								</li>
								<li>
									<a href="/collections/types?q=Used%20Books">Used Books</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="sidebar_widget sidebar_widget__vendors">
						<h3 class="widget_header">Product vendors</h3>
						<div class="widget_content">
							<ul class="list_links">
								<li>
									<a href="/collections/vendors?q=Bookstore">Bookstore</a>
								</li>
							</ul>
						</div>
						{{# each listGenres}}
						<div class="widget_content">
							<ul class="list_links">
								<li>
									<a href={{url}}>{{name}}</a>
								</li>
							</ul>
						</div>
						{{/each}}
					</div>
					<div class="sidebar_widget sidebar_widget__products">
						<h3 class="widget_header">Products</h3>
						<div class="widget_content">
							<ul class="list_products">

								<li class="product">
									<div class="product_img">
										<a href="/collections/belles-lettres/products/outlander-book-series-by-diana-gabaldon">
											<img src="//cdn.shopify.com/s/files/1/2323/3807/products/outlander_book_series_by_diana_gabaldon_1_150x150_crop_center.png?v=1504250185"
											 alt="Outlander Book Series By Diana Gabaldon">
										</a>
									</div>
									<div class="product_info">
										<div class="product_name">
											<a href="/collections/belles-lettres/products/outlander-book-series-by-diana-gabaldon">Outlander Book Series By Di...</a>
										</div>
										<div class="product_price">
											<span class="money" data-currency-usd="$28.00">$28.00</span>
											<span class="money compare-at-price" data-currency-usd="$35.00">$35.00</span>
										</div>
										<div class="product_links">
											<a class="btn" href="/collections/belles-lettres/products/outlander-book-series-by-diana-gabaldon">View</a>
										</div>
									</div>
								</li>
								{{# each listBooks}}
								<li class="product">
									<div class="product_img">
										<a href={{url}}>
											<img src={{imageCover}} alt={{tittle}}>
										</a>
									</div>
									<div class="product_info">
										<div class="product_name">
											<a href={{url}}>{{tittle}}</a>
										</div>
										<div class="product_price">
											<span class="money" data-currency-usd="${{price}}">${{price}}</span>
										</div>
										<div class="product_links">
											<a class="btn" href={{url}}>View</a>
										</div>
									</div>
								</li>
								{{/each}}

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>