<div class="main_content ">
    <!-- BEGIN content_for_index -->
    <div id="shopify-section-1506525167084" class="shopify-section section section_homepage section_banner-with-text-overlay">
        <div class="section_wrap flexible_block__large">
            <div class="img_placeholder__wrap img_placeholder__large" style="background-image: url( //cdn.shopify.com/s/files/1/2323/3807/files/img-bnr_02_2050x588.jpg?v=1506525589 );"></div>
            <div class="container">
                <div class="section_txt">
                    <div class="cnt_wrap">
                        <h2>BOOKSTORE .COM</h2>
                        <h3>BEST</h3>
                        <h4>BOOKS STORE</h4>
                        <h5>SUMMER ESCAPE SALE</h5>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="shopify-section-1506579268158" class="shopify-section section section_homepage section_custom-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col_item item_2_1">
                    <div class="custom_content__item item_text">
                        <div class="item_text item_text__left">
                            <h4 class="item_text__title">WELCOME TO BOOKSTORE.COM</h4>
                            <div class="item_text__content">
                                <p>We have the biggest bestsellers to the hardest-to-find, out-of-print rarities brought to
                                    you by thousands of Booksellers around the world.
                                    <br>So look around and let us help you find your next favorite book.</p>
                                <p></p>
                                <p></p>
                                <p></p>
                                <p></p>
                            </div>
                            <a href="/collections" class="btn">READ MORE
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col_item ">
                    <div class="custom_content__item item_text">
                        <div class="item_text item_text__left">
                            <h4 class="item_text__title">SAVE 50% OFF</h4>
                            <div class="item_text__content">
                                <p>Whether you are looking for a special book, recording, album, cassette, CD, or even computer
                                    software, we will do our best to secure it for you if we do not have it in stock.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="shopify-section-1506599742800" class="shopify-section section section_homepage section_collection_list">
        <div class="container">
            <div class="col-xs-6 col_item item_2_1">
                <div class="custom_content__item item_advantages">
                    <div class="index_item__advantages">

                        <div class="circle-bg circle-bg__1">
                            <i class="advantages_icon thin-icon-love"></i>
                        </div>

                        <a href="/collections/romance" class="advantages_btn btn_fon">Romance</a>


                        {{# each listGenres}}
                        <div class="advantages_item col-sm-6">
                            <div class="circle-bg circle-bg__1">
                                <i class="advantages_icon thin-icon-love"></i>
                            </div>
                            <a href={{url}} class="advantages_btn btn_fon">{{name}}</a>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col_item ">
                <div class="custom_content__item item_image">
                    <div class="row">
                        <div class="container">
                            <img src="//cdn.shopify.com/s/files/1/2323/3807/files/bnr_07_27b0064b-1b4f-47d0-9f3f-187b6bca65c8_1036x472.jpg?v=1506603035">
                            <div class="section_txt">
                                <div class="cnt_wrap">
                                    <h2>super sale!</h2>
                                    <h3>Get an extra 15% off</h3>
                                    <h4>your first order</h4>
                                    <a href="/collections/belles-lettres" class="btn btn_inverted">READ MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="shopify-section-1478270037550" class="shopify-section section section_homepage section_featured-products">
        <div class="container">
            <h2 class="section_heading">Featured products</h2>
            <div class="row product_listing__main">
                <div class="col-xs-3 item_4_1">
                    <div class="product_item">
                        <div class="product_img">
                            <a class="img_change" href="/collections/childrens-books/products/the-hobbit-and-the-lord-of-the-rings">
                                <img class="img__1" src="//cdn.shopify.com/s/files/1/2323/3807/products/the_hobbit_and_the_lord_of_the_rings_1_270x270_crop_top.png?v=1504250252"
                                    alt="The Hobbit And The Lord Of The Rings" style="opacity: 1;">
                                <img class="img__2" src="//cdn.shopify.com/s/files/1/2323/3807/products/the_hobbit_and_the_lord_of_the_rings_2_270x270_crop_top.png?v=1504250252"
                                    alt="The Hobbit And The Lord Of The Rings" style="opacity: 0;">
                                <span class="product_badge new">New!</span>
                            </a>
                            <a class="quick_view_btn" href="/products/the-hobbit-and-the-lord-of-the-rings" title="Quick view">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="product_info">
                            <p class="product_name">
                                <a href="/products/the-hobbit-and-the-lord-of-the-rings">The Hobbit And The Lord Of The Rings</a>
                            </p>
                            <p class="product_desc product_desc__short">It is a great pleasure to give people the knowledge and the power of the intelligence Our business
                                is very ...</p>
                            <p class="product_desc product_desc__long">It is a great pleasure to give people the knowledge and the power of the intelligence Our business
                                is very noble and it has many traditions. That is why we have such a great number of devoted
                                clients all over the country. It is a great pleasure to give people the knowledge and the
                                power of the intelligence. We all must remember that our forefathers didn’t have such unlimited
                                abilities as we have. The diversity of our products is unbelievable because we have a vast
                                book collection - all genres...
                            </p>
                            <p class="product_price">
                                <span class="money" data-currency-usd="$50.00">$50.00</span>
                            </p>
                            <div class="product_links">
                                <form method="post" action="/cart/add">
                                    <input name="id" value="50971280395" type="hidden">
                                    <button class="btn btn-cart" type="submit">Thêm vào giỏ hàng</button>
                                </form>
                                <a class="btn wishlist_add_login" href="/pages/wishlist" title="Add to the wishlist">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                {{# each listBooks}}
                <div class="col-xs-3 item_4_1 item_2_1">
                    <div class="product_item">
                        <div class="product_img">
                            <a class="img_change" href={{url}}>
                                <img class="img__1" src={{imageCover}} alt={{title}}>
                                <img class="img__2" src={{imageCover}} alt={{title}}>
                                <span class="product_badge new">New!</span>
                            </a>
                            <a class="quick_view_btn" href={{url}} title="Quick view">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="product_info">
                            <p class="product_name">
                                <a href={{url}}>{{title}}</a>
                            </p>
                            <p class="product_desc product_desc__short">It is a great pleasure to give people the knowledge and the power of the intelligence Our business
                                is very ...</p>
                            <p class="product_desc product_desc__long">It is a great pleasure to give people the knowledge and the power of the intelligence Our business
                                is very noble and it has many traditions. That is why we have such a great number of devoted
                                clients all over the country. It is a great pleasure to give people the knowledge and the
                                power of the intelligence. We all must remember that our forefathers didn’t have such unlimited
                                abilities as we have. The diversity of our products is unbelievable because we have a vast
                                book collection - all genres...
                            </p>
                            <p class="product_price">
                                <span class="money" data-currency-usd="{{price}}">$price</span>
                            </p>
                            <div class="product_links">
                                <form method="post" action="/cart/add">
                                    <input type="hidden" name="id" value="50971280395">
                                    <button class="btn btn-cart" type="submit">Thêm vào giỏ hàng</button>
                                </form>
                                <a class="btn wishlist_add_login" href="/pages/wishlist" title="Add to the wishlist">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div id="shopify-section-1478611532944" class="shopify-section section section_homepage section_image-with-text-overlay">
        <div class="section_wrap flexible_block__medium parallax_block">
            <div class="img_placeholder__wrap img_placeholder__medium parallax_layer" style="background-image: url(&quot;//cdn.shopify.com/s/files/1/2323/3807/files/parallax_06_2050x871_crop_center.jpg?v=1506416735&quot;); transform: translate3d(0px, -4px, 0px);"></div>
            <div class="section_txt">
                <div class="container">
                    <div class="cnt_wrap">
                        <h2>super sale!</h2>
                        <h3>Get an extra 15% off</h3>
                        <h4>your first order</h4>
                        <a href="/collections/romance" class="btn btn_inverted">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END content_for_index -->
</div>