<div class="main_content ">
    <!-- BEGIN content_for_index -->
    <div id="shopify-section-1506525167084" class="shopify-section section section_homepage section_banner-with-text-overlay">
        <div class="section_wrap flexible_block__large">
            <div class="img_placeholder__wrap img_placeholder__large" style="background-image: url( //cdn.shopify.com/s/files/1/2323/3807/files/img-bnr_02_2050x588.jpg?v=1506525589 );"></div>
            <div class="container">
                <div class="section_txt">
                    <div class="cnt_wrap">
                        <h2>NHÀ SÁCH</h2>
                        <h3>TUYỆT NHẤT</h3>
                        <h5>ƯU ĐÃI MÙA HÈ</h5>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="shopify-section-1506579268158" class="shopify-section section section_homepage section_custom-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col_item item_2_1">
                    <div class="custom_content__item item_text">
                        <div class="item_text item_text__left">
                            <h4 class="item_text__title">CHÀO MỪNG ĐẾN VỚI NHÀ SÁCH</h4>
                            <div class="item_text__content">
                                <p>Cửa hàng sách của chúng tôi không chỉ là một nhà bán lẻ trực tuyến thông thường. Chúng tôi
                                    mong muốn bán sản phẩm chất lượng hàng đầu mà còn mang đến cho khách hàng trải nghiệm
                                    mua sắm trực tuyến tích cực.
                                    <br>Tất cả đều có ở cửa hàng trực tuyến nhà sách.</p>
                                <p></p>
                                <p></p>
                                <p></p>
                                <p></p>
                            </div>
                            <a href="/about" class="btn">READ MORE
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col_item ">
                    <div class="custom_content__item item_text">
                        <div class="item_text item_text__left">
                            <h4 class="item_text__title">ƯU ĐÃI LÊN TỚI 50%</h4>
                            <div class="item_text__content">
                                <p>Bạn đang tìm kiếm những cuốn sách nổi tiếng, những cuốn sách bán chạy nhất thế giới. Hãy
                                    đến với chúng tôi với ưu đãi có thể lên đến 50%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="shopify-section-1506599742800" class="shopify-section section section_homepage section_collection_list">
        <div class="container">
            <div class="col-xs-6 col_item item_2_1">
                <div class="custom_content__item item_advantages">
                    <div class="index_item__advantages">

                        {{#each listGenres}}
                        <div class="advantages_item col-sm-6">
                            <div class="circle-bg circle-bg__1">
                                <i class="advantages_icon thin-icon-love"></i>
                            </div>
                            <a href={{url}} class="advantages_btn btn_fon">{{name}}</a>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col_item ">
                <div class="custom_content__item item_image">
                    <div class="row">
                        <div class="container">
                            <img src="//cdn.shopify.com/s/files/1/2323/3807/files/bnr_07_27b0064b-1b4f-47d0-9f3f-187b6bca65c8_1036x472.jpg?v=1506603035">
                            <div class="section_txt">
                                <div class="cnt_wrap">
                                    <h2>ưu đãi khủng!</h2>
                                    <h3>GIẢM GIÁ 15%</h3>
                                    <h4>cho đơn đặt hàng đầu tiên</h4>
                                    <a href="/book" class="btn btn_inverted">XEM NGAY</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="shopify-section-1478270037550" class="shopify-section section section_homepage section_featured-products">
        <div class="container">
            <h2 class="section_heading">Featured products</h2>
            <div class="row product_listing__main">
                {{#each listBooks}}
                <div class="col-xs-3">
                    <div class="product_item">
                        <div class="product_img">
                            <a class="img_change" href="{{ url }}">
                                <img class="img" src="{{ imageCover.[0] }}" alt="{{ book.title }}"> {{!--
                                <span class="product_badge new">New!</span> --}} {{!--
                                <span class="product_badge sale">–23%</span> --}}
                            </a>
                        </div>
                        <div class="product_info">
                            <p class="product_name">
                                <a href="{{ url }}"> {{ book.title }} </a>
                            </p>
                            <p class="product_desc product_desc__long"> {{ book.description }} </p>
                            <p class="product_price">
                                <span class="money"> {{ currentPrice }}</span>
                                <span class="currency"> ₫</span>
                                <span class="money money_sale">{{ book.price }}</span>
                                <span class="currency"> ₫</span>
                            </p>
                            <div class="product_links">
                                <form method="post" action="/cart/add-to-cart">
                                    <input type="hidden" name="product_id" value="{{ _id }}">
                                    <input type="hidden" name="_csrf" value="{{ ../csrfToken }}">
                                    <button class="btn" type="submit"> Thêm vào giỏ hàng </button>
                                </form>
                                <a disabled class="btn wishlist_add_login" href="/pages/wishlist" title="Thêm vào yêu thích!Comming soon!">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div id="shopify-section-1478611532944" class="shopify-section section section_homepage section_image-with-text-overlay">
        <div class="section_wrap flexible_block__medium parallax_block">
            <div class="img_placeholder__wrap img_placeholder__medium parallax_layer" style="background-image: url(&quot;//cdn.shopify.com/s/files/1/2323/3807/files/parallax_06_2050x871_crop_center.jpg?v=1506416735&quot;); transform: translate3d(0px, -4px, 0px);"></div>
            <div class="section_txt">
                <div class="container">
                    <div class="cnt_wrap">
                        <h2>super sale!</h2>
                        <h3>Get an extra 15% off</h3>
                        <h4>your first order</h4>
                        <a href="/collections/romance" class="btn btn_inverted">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END content_for_index -->
</div>