<!-- page content -->
<div class="right_col" role="main">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                {{#with book}}
                <form id="edit-form" action="" class="form-horizontal form-label-left" method="POST">
                    <span class="section">{{ ../title }}</span>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Tên sách
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input name="name" class="form-control col-md-7 col-xs-12" id="name" required type="text" value="{{ title }}">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="author">Tác giả
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select name="author" class="form-control col-md-7 col-xs-12" id="author">
                                {{#each ../listAuthors}}
                                <option value="{{_id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genre">Thể loại
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select name="genre" class="form-control col-md-7 col-xs-12" id="genre">
                                {{#each ../listGenres}}
                                <option value="{{_id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtPrice">Giá
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="txtPrice" name="price" class="form-control col-md-7 col-xs-12 money" required type="text" value="{{price}}"
                                maxlength="11">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="publisher">Nhà sản xuất
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select name="publisher" class="form-control col-md-7 col-xs-12" id="publisher">
                                {{#each ../listPublishers}}
                                <option value="{{_id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="date">Ngày sản xuất
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input name="date" class="optional form-control col-md-7 col-xs-12" id="date" type="date" value="{{publishDate}}">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Giới thiệu
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea name="description" class="form-control" rows="5" id="description">{{description}}</textarea>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <input type="hidden" name="_csrf" value="{{ ../csrfToken }}">
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button class="btn btn-success" id="send" type="submit">Thay đổi</button>
                        </div>
                    </div>
                </form>
                {{/with}}
            </div>
        </div>
    </div>
</div>
<!-- page content -->