<!-- page content -->
<div class="right_col" role="main">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <form id="my-form" method="POST" action="" class="form-horizontal form-label-left">
                    <span class="section">{{ title }}</span>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Tên sách
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input name="name" class="form-control col-md-7 col-xs-12" id="name" required="required" type="text" placeholder="Tên sách (Ví dụ: Nhập môn tâm lý học)">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="author">Tác giả
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select name="author" class="form-control col-md-7 col-xs-12" id="author">
                                {{#each listAuthors}}
                                <option value="{{_id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <a href='/admin/author/add' type="button" class="btn btn-round btn-success">
                            <i class="fa fa-plus" aria-hidden="true" style="line-height: inherit;"></i>
                        </a>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genre">Thể loại
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select name="genre" class="form-control col-md-7 col-xs-12" id="genre">
                                {{#each listGenres}}
                                <option value="{{_id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <a href='/admin/genre/add' type="button" class="btn btn-round btn-success">
                            <i class="fa fa-plus" aria-hidden="true" style="line-height: inherit;"></i>
                        </a>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtPrice">Giá
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input name="price" class="form-control col-md-7 col-xs-12 money" id="txtPrice" required="required" type="text" maxlength="11">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="publisher">Nhà sản xuất
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select name="publisher" class="form-control col-md-7 col-xs-12" id="publisher">
                                {{#each listPublishers}}
                                <option value="{{_id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <a href='/admin/publisher/add' type="button" class="btn btn-round btn-success">
                            <i class="fa fa-plus" aria-hidden="true" style="line-height: inherit;"></i>
                        </a>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="date">Ngày sản xuất
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input name="publishDate" class="optional form-control col-md-7 col-xs-12" id="date" type="date">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Giới thiệu
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea name="description" class="form-control" rows="5" id="description"></textarea>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button class="btn btn-success" id="send" type="submit">Thêm sách</button>
                            <button class="btn btn-primary" type="reset">Làm lại</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- page content -->