<!-- page content -->
<div class="right_col" role="main">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2> {{ title }} </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal form-label-left" novalidate="">
                    {{#with book}}
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Tên sách
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" readonly class="form-control-plaintext" id="name" value="{{ title }}">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="author">Tác giả
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" readonly class="form-control-plaintext" id="author" value="{{ author.name }}">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genre">Thể loại
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" readonly class="form-control-plaintext" id="genre" value="{{ genre.name }}">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="price">Giá
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" readonly class="form-control-plaintext money" id="price" value="{{ price }}">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="publisher">Nhà xuất bản
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" readonly class="form-control-plaintext" id="publisher" value="{{ publisher.name }}">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="publishDate">Ngày xuất bản
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" readonly class="form-control-plaintext formatdate" id="publishDate" value="{{publishDate}}">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Mô tả
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea readonly name="description" class="form-control-plaintext padding-left-0" rows="5" id="description">{{description}}</textarea>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <a class="btn btn-success" href="/admin/book/edit/{{_id}}">Sửa thông tin sách</a>
                        </div>
                    </div>
                    {{/with}}
                </form>
            </div>
        </div>
    </div>
</div>
<!-- page content -->