<!-- page content -->
<div class="right_col" role="main" style="min-height: 958px;">
    <div>
        <div class="page-title">
            <div class="title_left">
                <h3>Xem sách</h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">                            
                        <form class="form-horizontal form-label-left" novalidate="">
                            {{# book}}
                            <span class="section">Thông tin sách</span>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Tên sách
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" readonly class="form-control-plaintext" id="bookname" value="{{title}}">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Tác giả
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" readonly class="form-control-plaintext" id="author" value="{{author.name}}">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genre">Thể loại
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" readonly class="form-control-plaintext" id="genre" value="{{genre.name}}">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">Giá
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" readonly class="form-control-plaintext" id="price" value="{{price}}">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nhà sản xuất
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" readonly class="form-control-plaintext" id="publisher" value="{{publisher.name}}">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="date">Ngày sản xuất
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" readonly class="form-control-plaintext" id="date" value="{{publishDate}}">
                                </div>
                            </div>        
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Giới thiệu
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea readonly name="description" class="form-control" rows="5" id="description">{{description}}</textarea>
                                </div>
                            </div>                   
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <a class="btn btn-success" href ="/admin/book/edit/{{_id}}" id="send" type="submit">Sửa thông tin sách</a>
                                </div>
                            </div>
                            {{/book}}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page content -->